<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Life game</title>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

<main role="main" class="container" id="main">
  <h1>Conway’s Game Of Life</h1>
  <a href="https://www.geeksforgeeks.org/program-for-conways-game-of-life/">learn more</a>
<!--  <form action="#" th:action="@{'/clear'}">-->
<!--    <button type="submit" id="clear">clear</button>-->
<!--  </form>-->
  <form action="#" th:action="@{'/generateRandom'}">
    <button type="submit" id="generateRandom">generate random map</button>
  </form>
  <table border="1">
    <th:block th:each="map : ${maps}">
      <tr>
        <th:block th:each="point : ${map}">
          <td th:if="${point} == '1'" bgcolor="#000000" width="10px" height="10px"></td>
          <td th:if="${point} == '0'" width="10px" height="10px"></td>
<!--          <td th:text="${point}"></td>-->
        </th:block>
      </tr>
    </th:block>
  </table>
<!--  <ol>-->
<!--    <li th:each="map : ${maps}" th:text="${map}"></li>-->
<!--  </ol>-->
</main>
<script>
  $(document).ready(function(){
    setInterval(function(){
      $("#main").load(window.location.href + " #main" );
    }, 1000);
  });
</script>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>