<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Life game</title>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">
TEST
<!--  <div id="game" th:text="${map}">Test</div>-->
  <form action="#" th:action="@{'/clear'}">
    <button type="submit" id="clear">clear</button>
  </form>
  <table border="1">
    <th:block th:each="map : ${maps}">
      <tr>
        <th:block th:each="point : ${map}">
          <td th:if="${point} == '1'" bgcolor="#000000" width="10px" height="10px"></td>
          <td th:if="${point} == '0'" width="10px" height="10px"></td>
<!--          <td th:text="${point}"></td>-->
        </th:block>
      </tr>
    </th:block>
  </table>
<!--  <ol>-->
<!--    <li th:each="map : ${maps}" th:text="${map}"></li>-->
<!--  </ol>-->
  <script>
    setTimeout(function(){
      window.location.reload();
    }, 1000);
  </script>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>